backcall==0.2.0
colorama==0.4.4
decorator==5.0.9
ipython==7.26.0
ipython-genutils==0.2.0
jedi==0.18.0
matplotlib-inline==0.1.2
parso==0.8.2
pickleshare==0.7.5
prompt-toolkit==3.0.19
pygame==2.0.1
Pygments==2.10.0
traitlets==5.0.5
wcwidth==0.2.5
